---
http_interactions:
- request:
    method: get
    uri: https://serpscan.com/api/v2/websites?token=6PR3keWxb7xYTvJ--F_R90UQYD9OpEsG53_MI9-4jDojWu9ESOhOsQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"ae79d9f5285fb06ac1437e3c9984b6f8"
    body:
      encoding: UTF-8
      string: '{"results":[{"id":5206,"url":"example.com"}]}'
  recorded_at: Wed, 03 Jun 2015 00:21:29 GMT
- request:
    method: get
    uri: https://serpscan.com/api/v2/websites/5206?token=6PR3keWxb7xYTvJ--F_R90UQYD9OpEsG53_MI9-4jDojWu9ESOhOsQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"7a7b9470cf60efeed0eb9fc2c24d6a69"
    body:
      encoding: UTF-8
      string: '{"id":5206,"url":"example.com"}'
  recorded_at: Wed, 03 Jun 2015 00:21:30 GMT
- request:
    method: get
    uri: https://serpscan.com/api/v2/websites/5206/keywords?token=6PR3keWxb7xYTvJ--F_R90UQYD9OpEsG53_MI9-4jDojWu9ESOhOsQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"cb5d96e6404bcf38d788ccdf9b8caf63"
    body:
      encoding: UTF-8
      string: '{"website_id":"5206","page":1,"total_pages":1,"results":[]}'
  recorded_at: Wed, 03 Jun 2015 00:21:30 GMT
- request:
    method: get
    uri: https://serpscan.com/api/v2/search_engines?token=6PR3keWxb7xYTvJ--F_R90UQYD9OpEsG53_MI9-4jDojWu9ESOhOsQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dc54a59e61bc1b527441a80751128792"
    body:
      encoding: UTF-8
      string: '{"results":[{"id":1,"title":"Google","countries":[{"id":156,"location":"Afghanistan","search_engine_id":1,"default":false},{"id":157,"location":"Algeria","search_engine_id":1,"default":false},{"id":158,"location":"American
        Samoa","search_engine_id":1,"default":false},{"id":159,"location":"Andorra","search_engine_id":1,"default":false},{"id":160,"location":"Angola","search_engine_id":1,"default":false},{"id":161,"location":"Anguilla","search_engine_id":1,"default":false},{"id":162,"location":"Antigua
        and Barbuda","search_engine_id":1,"default":false},{"id":163,"location":"Argentina","search_eng[...]
[...]
- request:
    method: post
    uri: https://serpscan.com/api/v2/keywords?keyword%5Bphrase%5D=example%20keyword&keyword%5Bwebsite_id%5D=5206&token=6PR3keWxb7xYTvJ--F_R90UQYD9OpEsG53_MI9-4jDojWu9ESOhOsQ
    body:
      encoding: UTF-8
      string: '{"keyword":{"phrase":"example keyword","website_id":5206}}'
    headers:
  response:
    status:
      code: 201
      message: 'Created '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dd490a51f0e83fd586d80ffab389e8be"
    body:
      encoding: UTF-8
      string: '{"website_id":5206,"page":null,"total_pages":null,"results":[{"id":107691,"phrase":"example
        keyword","current_rank":null,"initial_rank":null,"day_change":null,"week_change":null,"month_change":null,"alltime_change":"_","search_volume":null,"search_engine_country_id":302,"website_id":5206}],"id":107691,"phrase":"example
        keyword","current_rank":null,"initial_rank":null,"day_change":null,"week_change":null,"month_change":null,"alltime_change":"_","search_volume":null,"search_engine_country_id":302}'
  recorded_at: Wed, 03 Jun 2015 00:21:31 GMT
[...]
