---
http_interactions:
- request:
    method: get
    uri: https://serpscan.com/api/v2/websites?token=6PR3keWxb7xYTvJ--F_R90UQYD9OpEsG53_MI9-4jDojWu9ESOhOsQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"3e07724a69881ccd07ab34973c02db41"
    body:
      encoding: UTF-8
      string: '{"results":[{"id":5207,"url":"example.com"}]}'
  recorded_at: Wed, 03 Jun 2015 00:40:44 GMT
- request:
    method: get
    uri: https://serpscan.com/api/v2/websites/5207?token=6PR3keWxb7xYTvJ--F_R90UQYD9OpEsG53_MI9-4jDojWu9ESOhOsQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"76cf172fbb46d1d2dbbca5b8ba4a4646"
    body:
      encoding: UTF-8
      string: '{"id":5207,"url":"example.com"}'
  recorded_at: Wed, 03 Jun 2015 00:40:45 GMT
- request:
    method: get
    uri: https://serpscan.com/api/v2/websites/5207/keywords?token=6PR3keWxb7xYTvJ--F_R90UQYD9OpEsG53_MI9-4jDojWu9ESOhOsQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"d580dddb18efddbfb34a69e1197acdb1"
    body:
      encoding: UTF-8
      string: '{"website_id":5207,"page":1,"total_pages":1,"results":[{"id":107692,"phrase":"example
        keyword","current_rank":null,"initial_rank":null,"day_change":null,"week_change":null,"month_change":null,"alltime_change":"_","search_volume":null,"search_engine_country_id":302,"website_id":5207}],"id":107692,"phrase":"example
        keyword","current_rank":null,"initial_rank":null,"day_change":null,"week_change":null,"month_change":null,"alltime_change":"_","search_volume":null,"search_engine_country_id":302}'
  recorded_at: Wed, 03 Jun 2015 00:40:45 GMT
- request:
    method: get
    uri: https://serpscan.com/api/v2/search_engines?token=6PR3keWxb7xYTvJ--F_R90UQYD9OpEsG53_MI9-4jDojWu9ESOhOsQ
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"dc54a59e61bc1b527441a80751128792"
    body:
      encoding: UTF-8
      string: '{"results":[{"id":1,"title":"Google","countries":[{"id":156,"location":"Afghanistan","search_engine_id":1,"default":false},{"id":157,"location":"Algeria","search_engine_id":1,"default":false},{"id":158,"location":"American
        Samoa","search_engine_id":1,"default":false},{"id":159,"location":"Andorra","search_engine_id":1,"default":false},{"id":160,"location":"Angola","search_engine_id":1,"default":false},{"id":161,"location":"Anguilla","search_engine_id":1,"default":false},{"id":162,"location":"Antigua
        and Barbuda","search_engine_id":1,"default":false},{"id":163,"location":"Argentina","search_eng[...]
